<h1> Bem Vindo ao Mercadão POC</h1>
<h2>Aqui nós temos os seguintes produtos:</h2>
<div id="add-product"><%= link_to 'Adicionar Produto', new_product_path %></div>
<div id="products"></div>
<div id="add-product"><%= link_to 'Adicionar Produto', new_product_path %></div>
